@font-face {
	font-family: 'LeagueGothic';
	src: url('../fonts/LeagueGothic-Regular.otf');
}

@font-face {
	font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Regular.ttf'); /* IE9 Compat Modes */
}
